<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="container">

  <%= link_to user_path(visitor) do %>
    <strong>
      <%= visitor.name %>
    </strong>
  <% end %>
  <span>さんが</span>

  <% case notification.action %>
  <% when 'follow' then %>
    <span>あなたをフォローしました</span>
  <% when 'like' then %>
    <%= link_to 'あなたの投稿', main_post_path(notification.main_post), style: "font-weight: bold;" %>
    <span>にいいねしました</span>
  <% when 'comment' then %>
    <% if notification.main_post.user_id == visited.id %>
      <%= link_to "あなたの投稿", main_post_path(notification.main_post), style: "font-weight: bold;" %>
    <% else %>
      <%= link_to main_post_path(notification.post) do %>
        <strong>
          <%= notification.post.user.name + 'さんの投稿' %>
        </strong>
      <% end %>
    <% end %>
    <span>にコメントしました:<%= Comment.find_by(id: notification.comment_id)&.content %></span>
  <% when 'message' then %>
    <span>あなたに<strong><%= link_to 'チャット', room_path(notification.room_id) %></strong>を送りました : <%= Message.find_by(id: notification.message_id)&.body %></span>
  <% end %>

</div>