<!--ユーザー情報-->
<div class="shadow p-3 mb-3">
  <%= attachment_image_tag user, :image, format: "jpeg", fallback: "no_user_image.jpg", size: "200x150", class:"d-block mx-auto" %>
  <H5 class="text-center"><strong><%= user.name %></strong></H5>
  <p class="text-center border-top"><strong>introduction</strong></p>
  <p class="text-center"><%= user.introduction %></p>

　　  <!--フォロー-->
　　  <div class=" border-top">
    <div class="row justify-content-center mt-2 mb-2">
      <div id="following-count_<%= user.id %>"><span><strong>follow: </strong><%= link_to "#{user.followings.count}", user_followings_path(user) %>  </span></div>
      <div id="follower-count_<%= user.id %>", class="ml-3"><span><strong>  follower: </strong><%= link_to "#{user.followers.count}", user_followers_path(user) %></span></div>
      <% if user.id != current_user.id %>
        <div id="follow-button_<%= user.id %>", class="ml-3" >
        <%= render "relationships/follow-btn", user: user %>
        </div>
      <% end %>
    </div>
  </div>

  <p class="text-center border-top mt-2 mb-2">目標練習時間 <%= user.target_time %> 分/日</p>

  <!--チャットルーム作成-->
  <div class="border-top">
    <div class="row justify-content-center">
    <% unless user.id == current_user.id %>
      <% if is_room == true %>
        <%= link_to 'メッセージを送る', room_path(room_id), class: 'btn-sm btn-outline-secondary mt-2' %>
      <% else %>
        <div class="pt-2">
        <%= form_with url:rooms_path, model:@entry, local:true do |f| %>
          <%= f.hidden_field :user_id, value: user.id %>
          <%= f.submit 'メッセージを送る', class: 'btn-sm btn-outline-secondary' %>
        <% end %>
        </div>
      <% end %>
    <% end %>

    <% if user.id == current_user.id %><%= link_to 'チャットルーム一覧', rooms_path, class: 'text-dark mt-2' %><% end %>
    </div>
  </div>

  <div class="row justify-content-center">
    <% if user.id == current_user.id %>
    <%= link_to '編集', edit_user_path(user),class:"btn btn-outline-secondary" %>
    <% end %>
  </div>
</div>