<div class="container">
  <h1>Show</h1>

  <div class="row">
    <div class="col">
      <!--ユーザー情報-->
      <%= attachment_image_tag @user, :image, format: "jpeg", fallback: "no_user_image.jpg", size: "200x150" %>
      <p>ユーザー名</p><%= @user.name %>
      <p>紹介文</p><%= @user.introduction %>
      <p>目標練習時間min/day</p><%= @user.target_time %>

      <% if @user.id == current_user.id %>
      <p><%= link_to '編集', edit_user_path(@user) %></p>
      <% end %>

      <!--得意音楽ジャンル-->
      <div><%= render "user_music_genres/index", user: @user, user_music_genre: @user_music_genre, user_music_genres: @user_music_genres %></div>

      <!--得意楽器-->
      <div><%= render "user_instruments/index", user: @user, user_instrument: @user_instrument, user_instruments: @user_instruments %></div>

　　　<!--フォロー-->
      <div id="following-count_<%= @user.id %>" ><%= link_to "follow:#{@user.followings.count}", user_followings_path(@user) %></div>
      <div id="follower-count_<%= @user.id %>" ><%= link_to "follower:#{@user.followers.count}", user_followers_path(@user) %></div>
      <% if @user.id != current_user.id %>
        <div id="follow-button_<%= @user.id %>" >
        <%= render "relationships/follow-btn", user: @user %>
        </div>
      <% end %>

      <!--タスク-->
      <div><%= render "tasks/index", user: @user, task: @task, tasks: @tasks %></div>

    </div>
    <div class="col">

      <!--合計練習時間-->
      <div><%= render "tweets/practice_time", today_min: @today_min, month_min: @month_min, sum_min: @sum_min %></div>

      <!--Tweet部分-->

        <% if @user.id == current_user.id %>
        <div><%= render "tweets/form", tweet: @tweet, user: @user %></div>
        <% end %>
        <div><%= render "tweets/index", tweets: @tweets, user: @user %></div>


      <%= month_calendar events: @tweets do |date, tweets| %>
        <%= date.day %>

        <% tweets.each do |tweet| %>
          <div>
            <%= tweet.comment %>
          </div>
        <% end %>
      <% end %>

      <!--退会-->
    　<% if @user.id == current_user.id %>
      <div><%= link_to '退会はこちら', confirm_unsubscribe_path(@user.name) %></div>
      <% end %>
    </div>
  </div>
</div>