<div class="container pt-3">
  <div class="row">
    <div class="col pt-5">
      <div class="text-center p-2"><h5><strong>使用楽器名編集</strong></h5></div>
      <%= render 'layouts/error_messages', model: @instrument %>
      <div class="row justify-content-center">
        <%= form_with url: admins_instrument_path(@instrument), model: @instrument, local: true do |f| %>
          <strong><%= f.label :楽器名 ,class:"mr-3" %></strong>
          <%= f.text_field :name, placeholder: "ジャンル名", class: "form-control" %>
          <div class="row justify-content-center mt-2 mb-2 pt-5">
            <%= f.submit "変更", class: 'btn btn-secondary mt-2' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>