<div class="container pt-3">
  <div class="row">

    <div class="col-md-12">
      <div class="text-center p-2"><h5><strong><%= @user.name %> さんの会員情報編集</strong></h5></div>
      <div class="row d-flex justify-content-around">

            <div class="col-md-6 shadow m-1 p-5">
            <% if flash[:error].present? %>
              <ul class="text-center p-2">
                <li><strong><%= flash[:error] %></strong></li>
              </ul>
            <% end %>

            <%= form_with model: @user, url: admins_user_path(@user), local: true do |f| %>

              <div><span>会員ID: <%= @user.id %></span></div>

              <div><%= f.label :ユーザー名 %></div>
              <div><%= f.text_field :name,class:"form-control" %></div>

              <div><%= f.label :メールアドレス %></div>
              <div><%= f.email_field :email,class:"form-control" %></div>


              <div><%= f.label :会員ステータス %></div>
              <div>
                <%= f.radio_button :user_status,true %>
                <%= f.label :user_status, "有効", value: true %>
                <%= f.radio_button :user_status,false %>
                <%= f.label :user_status, "退会", value: false, class:"mr-3" %>
              </div>

            <div>
              <%= f.submit "変更を保存",class:"btn btn-outline-dark" %>
            </div>

            <% end %>

            </div>


      </div>

    </div>
  </div>
</div>


