<div class="instruments-3-visual content_height">
  <div class="container pt-3">

    <div class="row justify-content-start ml-2">

      <div class="pr-4">

      <%= render "searches/search_form" %>

      </div>

      <%= render "searches/sort", range: @range, keywords: @keywords %>

    </div>

    <div class="row ml-2">

      <!--タグリスト-->
      <div class="pr-4 pt-4">
        <% @tag_list.each do |list|%>
        <% if list.post_tags.count != 0 %>
          <%= link_to one_tag_search_path(list.id), class:"btn btn-outline-secondary m-1" do %>
            <%=list.name %>
              <%="(#{list.post_tags.count})" %>
            <% end %>
          <% end %>
        <% end %>
        <%= link_to "タグリスト", tags_path, class:"btn btn-outline-secondary m-1"  %>
      </div>

    </div>

    <div class="row pt-4">
      <h4 class="ml-4 mr-4"><strong>検出数: <%= @main_post_all.count %> 件</strong></h4>
    </div>

    <div class="row pt-4 pb-4">

      <div class="col-md-9 pt-2 border-right">
        <div class="row d-flex justify-content-start">

            <% @main_posts.each do |main_post| %>
              <div class="col-md-5 col-sm-12 shadow mr-3 ml-3 mb-3 bg-white rounded border border-secondary">
                <div class="p-2">

            　　  　<%= link_to main_post_path(main_post.id) do %>
                    <div class="ml-4 mr-4 text-dark text-center"><strong><h5><%= main_post.title.truncate(25, omission: '...') %></strong></h5></div>
                    <div class="row justify-content-center border-top border-bottom pt-1 pb-1"><%= attachment_image_tag main_post, :image, format: "jpeg", fallback: "no_image.jpg", class: "w-100 rounded" %></div>
                    <div class="ml-4 mr-4 text-dark">
                      <%= main_post.content.truncate(36, omission: '...') %><br>
                      <p class="text-danger">♡<%= main_post.favorites.count %><br></p>
                      <%= main_post.created_at.strftime("%Y-%m-%d %H:%M") %>
                    </div>

                  <% end %>

                  <div class="ml-4 mr-4 mb-2">
                  <% main_post.tags.first(1).each do |tag| %>
                    <%= link_to one_tag_search_path(tag.id), class:"btn btn-outline-secondary" do %>
                    <%= tag.name %>
                    <% end %>
                  <% end %>
                  </div>

                  <% if admin_signed_in? %>
                    <div>
                      <%= link_to "管理者編集はこちら", admins_main_post_path(main_post) %>
                    </div>
                  <% end %>

                </div>

              </div>
            <% end %>

        </div>
        <div class="row justify-content-center mt-2 mb-2 pt-5">
          <div class="mt-2 mb-2 shadow bg-white p-2 rounded-pill"><%= paginate @main_posts %></div>
        </div>
      </div>

      <div class="col-md-3">

        <!--つぶやき-->
        <div>
          <div class="row justify-content-center mt-2 mb-2">
            <p><strong>みんなのつぶやき</strong></p>
          </div>
          <div class="pt-3">
            <% if @tweets.present? %>
              <div class="overflow-auto" style="max-height:1130px;">

                <% @tweets.each do |tweet| %>
                  <div class="shadow bg-white p-3 mb-3 m-3">
                      <p><strong><%= tweet.user.name %></strong></p>
                      <p><%= tweet.comment %></p>
                      <p>練習時間: <%= tweet.practice_time %>分<br><%= tweet.created_at.strftime("%Y-%m-%d %H:%M") %></p>

                      <p>
                        <% if user_signed_in? %>
                          <% if tweet.user_id == current_user.id %>
                            <%= link_to '編集', edit_user_tweet_path(tweet.user_id, tweet), class: 'text-secondary mt-2' %>
                            <%= link_to '削除', user_tweet_path(tweet.user_id, tweet), method: :delete, class: 'text-secondary mt-2' %>
                          <% end %>
                        <% end %>
                      </p>
                  </div>
                <% end %>

              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
