<div class="container pt-3">
  <div class="row">
    <div class="col">
      <h5 class="text-center pt-3">メイン記事投稿</h5>
      <%= render 'layouts/error_messages', model: @main_post %>

      <%= form_with model: @main_post, local:true do |f| %>
        <%= f.label "タイトル" %>
        <%= f.text_field :title, class: "form-control name" %>

        <%= f.label "本文" %>
        <%= f.text_area :content, class: "form-control introduction" %>

        <%= f.label :Youtube_Url %>
        <%= f.text_field :youtube_url, class: "form-control youtube_url", :placeholder => "https://www.youtube.com/~" %>

        <%= f.label :image %>
        <%= f.attachment_field :image, class: "form-control-file user_image", accept: "image/*" %>

        <%= f.label :audio %>
        <%= f.file_field :audio, class: "form-control-file user_audio" %>

        <%= f.label "Tag (,で区切ると複数タグ登録できます)" %>
        <%=f.text_field :tag_name, class:"form-control book_body"%>

        <div class="row justify-content-center mt-2 mb-2 pt-5">
          <%= f.submit "投稿", class: 'btn btn-secondary mt-2' %>
        </div>

     <% end %>

    </div>
  </div>
</div>