<div class="container">
  <div class="row">
    <div class="col">
      <%= attachment_image_tag @main_post, :image, format: "jpeg", fallback: "no_image.jpg", size: "200x150" %>
      <%= @main_post.title %>
      <%= @main_post.content %>
      <%= link_to '編集', edit_main_post_path(@main_post) %>
      <%= link_to '削除', main_post_path, method: :delete %>
    </div>
  </div>
</div>