<!--記事公開停止中-->
<% if @main_post.public_status? %>
<div class="container pt-3">
  <div class="row"> 現在この記事は公開停止中です</div>
</div>

<!--記事公開中-->
<% else %>
<div class="container pt-3">
  <div class="row">
    <div class="col-md-8">

    <!--メイン記事-->
      <div class="bg-light p-5">

        <!--タグ-->
          <% @post_tags.each do |tag| %>
          <!--<div class="pr-4 pt-4">-->
            <%= link_to one_tag_search_path(tag.id), class:"btn btn-outline-secondary m-1" do %>
              <%=tag.name%><%="(#{tag.post_tags.count})" %>
            <% end %>
          <!--</div>-->
          <% end %>

        <!--メイン記事内容-->
        <h2><%= @main_post.title %></h2>
        <div class="d-flex justify-content-between border-top">
        <p>投稿者：<%= link_to @user.name, user_path(@user), data: {"turbolinks" => false}, class: "text-dark" %></p>
        <p>投稿日: <%= @main_post.created_at.strftime("%Y-%m-%d %H:%M") %> </p>
        </div>

        <div class="row justify-content-center">
          <% if @main_post.youtube_url.present? %>
          <div><iframe width="560" height="315" src="https://www.youtube.com/embed/<%=@main_post.youtube_url[32..42]%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
          <% end %>
          <div><%= attachment_image_tag @main_post, :image, format: "jpeg", size: "560x315" %></div>
          <div><%= audio_tag @main_post.audio_was, :controls => true if @main_post.audio? %></div>
        </div>
        <div class="pb-3 border-top mt-2"><%= @main_post.content %></div>

        <!--いいね-->
        <% if user_signed_in? %>
          <div id="main_post_<%= @main_post.id %>" >
            <%= render "favorites/favorite-btn", main_post: @main_post %>
          </div>
        <% else %>
          <p class="text-danger">♡<%= @main_post.favorites.count %><br></p>
        <% end %>

        <!--ブックマーク-->
        <% if user_signed_in? %>
          <div id="book_mark_<%= @main_post.id %>" >
            <%= render "book_marks/book_mark-btn", main_post: @main_post %>
          </div>
        <% end %>

        <!--メイン記事編集-->
        <% if user_signed_in? %>
          <% if @main_post.user_id == current_user.id %>
          <div class="d-flex justify-content-end">
            <%= link_to '編集', edit_main_post_path(@main_post), class: 'btn-sm btn-outline-secondary mt-3' %>
            <%= link_to '削除', main_post_path(@main_post), method: :delete, class: 'btn-sm btn-outline-secondary mt-3' %>
          </div>
          <% end %>
        <% end %>

      </div>
    <!--サブ記事-->
      <!--サブ記事内容-->
      <div class="bg-light p-5">
        <%= render "sub_posts/index", main_post: @main_post, sub_posts: @sub_posts %>
      </div>
      <!--サブ記事投稿-->
      <div>
        <% if user_signed_in? %>
          <% if @main_post.user_id == current_user.id %>
            <h5 class="text-center pt-3">サブ記事投稿</h5>
          <% if @new_sub_post.present? %>
            <%= render 'layouts/error_messages', model: @new_sub_post %>
          <% end %>
            <%= render "sub_posts/form", main_post: @main_post, sub_post: @sub_post %>
          <% end %>
        <% end %>
      </div>

    <!--コメント-->
      <div class="p-5">
        <div class="text-center text-white bg-secondary"><p><strong>コメント</strong></p></div>
        <div>
          <% if @comments.present? %>
            <% @comments.each do |comment| %>
              <div class="d-flex justify-content-between border-top">
                <p>投稿者:<%= comment.user.name %></p>
                <p><%= comment.created_at.strftime("%Y-%m-%d %H:%M") %></p>
              </div>
              <div class="ml-3 mr-3"><p><%= comment.content %></p></div>
　　　　　　  <% if user_signed_in? %>
                <% if comment.user_id == current_user.id %>
                  <%= link_to '編集', edit_main_post_comment_path(@main_post, comment), class: 'btn-sm btn-outline-secondary mt-3' %>
                  <%= link_to '削除', main_post_comment_path(@main_post, comment), method: :delete, class: 'btn-sm btn-outline-secondary mt-3' %>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <div class="text-center"><p><strong>コメントがありません</strong></p></div>
          <% end %>
        </div>
      </div>

      <% if user_signed_in? %>
        <div class="row">
          <div class="col bg-light p-5">
            <%= form_with model:[@main_post, @comment], local:true do |f| %>
              <div><%= f.text_area :content, class: "form-control-file" %></div>
              <div class="row justify-content-center"><%= f.submit "投稿", class: 'btn-sm btn-outline-secondary mt-3' %></div>
            <% end %>
          </div>
        </div>
      <% end %>

    </div>

    <div class="col-md-4">

      <div>
        <!--ユーザー情報-->
        <%= render "users/user", user: @user, is_room: @is_room, room_id: @room_id %>
      </div>

      <!--つぶやき-->
      <div>
        <div class="row justify-content-center mt-2 mb-2">
          <% user = @main_post.user %>
          <p><strong><%= user.name %>さんのつぶやき</strong></p>
        </div>
        <div class="pt-3">
          <div class="overflow-auto" style="height:1130px;">
            <%= render "tweets/index", tweets: @tweets, user: @user %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<% end %>