<!--記事公開停止中-->
<% if @main_post.public_status? %>
<div class="container">
  <div class="row"> 現在この記事は公開停止中です</div>
</div>

<!--記事公開中-->
<% else %>

<div class="container">
<!--メイン記事-->
  <div class="bg-secondary">
    <!--メイン記事内容-->
    <h2><%= @main_post.title %></h2>
    <div><%= attachment_image_tag @main_post, :image, format: "jpeg", fallback: "no_image.jpg", size: "200x150" %></div>
    <div><%= @main_post.content %></div>

    <!--いいね-->
    <div id="main_post_<%= @main_post.id %>" >
      <%= render "favorites/favorite-btn", main_post: @main_post %>
    </div>

    <!--ブックマーク-->
    <div id="book_mark_<%= @main_post.id %>" >
      <%= render "book_marks/book_mark-btn", main_post: @main_post %>
    </div>

    <!--メイン記事編集-->
    <% if @main_post.user_id == current_user.id %>
      <%= link_to '編集', edit_main_post_path(@main_post), class: "text-light" %>
      <%= link_to '削除', main_post_path(@main_post), method: :delete, class: "text-light" %>
    <% end %>

  </div>
<!--サブ記事-->
  <div>

    <% if @main_post.user_id == current_user.id %>
      <h5>サブ記事投稿</h5>
        <%= form_with model:[@main_post, @sub_post], local:true do |f| %>
          <%= f.label :Title %>
          <%= f.text_field :title, class: "form-control name" %>

          <%= f.label :Content %>
          <%= f.text_area :content, class: "form-control introduction" %>

          <%= f.label :image %>
          <%= f.attachment_field :image, class: "form-control-file user_image" %>

          <%= f.submit class: 'btn btn-light' %>

       <% end %>
    <% end %>

  </div>

  <div class="bg-secondary">
    <% @sub_posts.each do |sub_post| %>

      <h2><%= sub_post.title %></h2>
      <div><%= attachment_image_tag sub_post, :image, format: "jpeg", fallback: "no_image.jpg", size: "200x150" %></div>
      <div><%= sub_post.content %></div>

      <% if @main_post.user_id == current_user.id %>
        <%= link_to '編集', edit_main_post_sub_post_path(@main_post, sub_post), class: "text-light" %>
        <%= link_to '削除', main_post_sub_post_path(@main_post, sub_post), method: :delete, class: "text-light" %>
      <% end %>

    <% end %>
  </div>

<!--コメント-->
  <div>
    <h5>コメント</h5>
    <% @comments.each do |comment| %>

      <div><%= comment.user.name %></div>
      <div><%= comment.content %></div>

    <% if comment.user_id == current_user.id %>
      <%= link_to '編集', edit_main_post_comment_path(@main_post, comment), class: "text-dark" %>
      <%= link_to '削除', main_post_comment_path(@main_post, comment), method: :delete, class: "text-dark" %>
    <% end %>

    <% end %>
  </div>

  <div class="bg-light">
    <%= form_with model:[@main_post, @comment], local:true do |f| %>
    <div><%= f.label :Content %></div>
    <div><%= f.text_area :content %></div>
    <div><%= f.submit class: 'btn btn-light' %></div>
    <% end %>
  </div>
</div>

<% end %>