<!--記事公開停止中-->
<% if @main_post.public_status? %>
<div class="container">
  <div class="row"> 現在この記事は公開停止中です</div>
</div>

<!--記事公開中-->
<% else %>

<div class="container">
<!--メイン記事-->
  <div class="bg-secondary">
    <!--メイン記事内容-->
    <h2><%= @main_post.title %></h2>
    <div><%= attachment_image_tag @main_post, :image, format: "jpeg", fallback: "no_image.jpg", size: "200x150" %></div>
    <div><%= audio_tag @main_post.audio_was, :controls => true if @main_post.audio? %></div>
    <div><%= @main_post.content %></div>

    <!--いいね-->
    <div id="main_post_<%= @main_post.id %>" >
      <%= render "favorites/favorite-btn", main_post: @main_post %>
    </div>

    <!--ブックマーク-->
    <div id="book_mark_<%= @main_post.id %>" >
      <%= render "book_marks/book_mark-btn", main_post: @main_post %>
    </div>

    <!--メイン記事編集-->
    <% if @main_post.user_id == current_user.id %>
      <%= link_to '編集', edit_main_post_path(@main_post), class: "text-light" %>
      <%= link_to '削除', main_post_path(@main_post), method: :delete, class: "text-light" %>
    <% end %>

  </div>
<!--サブ記事-->
  <!--サブ記事投稿-->
  <div>
    <% if @main_post.user_id == current_user.id %>
    <h5>サブ記事投稿</h5>
    <%= render "sub_posts/form", main_post: @main_post, sub_post: @sub_post %>
    <% end %>
  </div>
  <!--サブ記事内容-->
  <div class="bg-secondary">
    <%= render "sub_posts/index", main_post: @main_post, sub_posts: @sub_posts %>
  </div>

<!--コメント-->
  <div>
    <h5>コメント</h5>
    <% @comments.each do |comment| %>

      <div><%= comment.user.name %></div>
      <div><%= comment.content %></div>

    <% if comment.user_id == current_user.id %>
      <%= link_to '編集', edit_main_post_comment_path(@main_post, comment), class: "text-dark" %>
      <%= link_to '削除', main_post_comment_path(@main_post, comment), method: :delete, class: "text-dark" %>
    <% end %>

    <% end %>
  </div>

  <div class="bg-light">
    <%= form_with model:[@main_post, @comment], local:true do |f| %>
    <div><%= f.label :Content %></div>
    <div><%= f.text_area :content %></div>
    <div><%= f.submit class: 'btn btn-light' %></div>
    <% end %>
  </div>
</div>

<% end %>