<h4>Top</h4>
<%= link_to 'ログイン', new_user_session_path %>
<%= link_to '新規登録', new_user_registration_path %>
<%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
<%= link_to '管理者ログイン', new_admin_session_path %>
<%= link_to '管理者Posts', admins_main_posts_path %>
<%= link_to '管理者ユーザー一覧', admins_users_path %>
<%= link_to '管理者楽器一覧', admins_instruments_path %>