<h4>Top</h4>
<%= link_to 'ログイン', new_user_session_path %>
<%= link_to '新規登録', new_user_registration_path %>
<%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
<%= link_to '問い合わせ', inquirys_path %>
<%= link_to '管理者ログイン', new_admin_session_path %>
<%= link_to '管理者Posts', admins_main_posts_path %>
<%= link_to '管理者ユーザー一覧', admins_users_path %>
<%= link_to '管理者楽器一覧', admins_instruments_path %>
<%= link_to '管理者ログアウト', destroy_admin_session_path, method: :delete %>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-12 bg-primary">test1</div>
    <div class="row">
      <div class="col-4 bg-secondary">test2</div>
      <div class="col-4 bg-success">test3</div>
    </div>
  </div>
    <div class="row">
    <div class="col-md-4 col-sm-12 bg-primary">test1</div>
    <div class="col-md-4 col-sm-12 bg-secondary">test2</div>
    <div class="col-md-4 col-sm-12 bg-success">test3</div>
  </div>
</div>