<div>
  <table class="table table-dark">
    <thead>
      <tr class="table-active"><th class="text-center">得意音楽ジャンル</th><th></th></tr>
    </thead>
    <tbody>
      <% if user_music_genres.present? %>
        <% user_music_genres.each do |user_music_genre| %>
        <tr>
          <td class="text-center"><%= user_music_genre.music_genre.name %></td>
          <% if user_signed_in? %>
            <% if user.id == current_user.id %>
              <td><%= link_to '削除', user_user_music_genre_path(user, user_music_genre), method: :delete, class: "btn btn-outline-secondary" %></td>
            <% end %>
          <% end %>
        </tr>
        <% end %>
      <% else %>
        <tr><td class="text-center">未入力</td></tr>
      <% end %>
    </tbody>
  </table>
  <div class="row justify-content-center">
  <%= paginate user_music_genres %>
  </div>
</div>

<div class="row justify-content-center pb-3">
  <%= flash[:music_genre_error] %>
  <% if user_signed_in? %>
    <% if user.id == current_user.id %>
      <%= form_with url: user_user_music_genres_path(user), model: user_music_genre, local: true do |f| %>
        <%= f.collection_select :music_genre_id, MusicGenre.all, :id, :name, include_blank: "-- ジャンルを選択してください --"  %>
        <%= f.submit "追加", class: "btn btn-outline-secondary" %>
      <% end %>
    <% end %>
  <% end %>
</div>
