<div>
  <table class="table table-dark">
    <thead>
      <tr class="table-active"><th class="text-center">使用楽器</th><th></th></tr>
    </thead>
    <tbody>
      <% if user_instruments.present? %>
        <% user_instruments.each do |user_instrument| %>
        <tr>
          <td class="text-center"><%= user_instrument.instrument.name %></td>
          <% if user_signed_in? %>
            <% if user.id == current_user.id %>
              <td><%= link_to '削除', user_user_instrument_path(user, user_instrument), method: :delete, class: "btn btn-outline-secondary" %></td>
            <% end %>
          <% end %>
        </tr>
        <% end %>
      <% else %>
        <tr><td class="text-center">未入力</td></tr>
      <% end %>
    </tbody>
  </table>
  <div class="row justify-content-center">
  <%= paginate user_instruments %>
  </div>
</div>

<div class="row justify-content-center pb-3">
  <%= flash[:instrument_error] %>
  <% if user_signed_in? %>
    <% if user.id == current_user.id %>
      <%= form_with url: user_user_instruments_path(user), model: user_instrument, local: true do |f| %>
        <%= f.collection_select :instrument_id, Instrument.all, :id, :name, include_blank: "-- 楽器を選択してください --" %>
        <%= f.submit "追加", class: "btn btn-outline-secondary" %>
      <% end %>
    <% end %>
  <% end %>
</div>