<!DOCTYPE html>
<html>
  <head>
    <title>Mpap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <main>

        <div id="header" class="sticky-top">
          <%= render "layouts/header" %>
        </div>
        <%= yield %>

      </main>

    <footer>

      <div class="container">
        <div class="row">
          <div class="col mt-5">
            <p class="text-center">ⒸMPAP 2021</p>
            <p class="text-center"><%= link_to 'お問い合わせはこちら', inquirys_path, class: "text-dark" %></p>
            <p class="text-center"><%= link_to '管理者はこちら', new_admin_session_path, class: "text-dark" %></p>
          </div>

        </div>
      </div>

    </footer>

    </div>
  </body>
</html>
