<!DOCTYPE html>
<html>
  <head>
    <title>Mpap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <main>

        <div id="header" class="sticky-top">

          <%= render "layouts/header" %>

          <% if user_signed_in? %>
            <div class="bg-secondary text-white text-center">
              <p class="m-0">ようこそ<strong><%= current_user.name %></strong>さん！</p>
            </div>
          <% end %>

          <% if flash.present? %>
            <div class="alert alert-primary m-0" role="alert">
              <% flash.each do |key, value| %>
                <%= content_tag(:div, value, class: "#{key}") %>
              <% end %>
            </div>
          <% end %>

          <% if user_signed_in? %>
            <% if !current_user.user_music_genres.exists? %>

              <div class="alert alert-warning alert-dismissible fade show m-0" role="alert">
                <strong>得意音楽ジャンルが設定されていません</strong>　マイページから設定できます。
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

            <% end %>
            <% if !current_user.user_instruments.exists? %>

              <div class="alert alert-warning alert-dismissible fade show m-0" role="alert">
                <strong>使用楽器が設定されていません</strong>　マイページから設定できます。
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

            <% end %>
          <% end %>

        </div>

        <%= yield %>

      </main>

      <footer>

        <div class="container">
          <div class="row">
            <div class="col mt-5">
              <p class="text-center">ⒸMPAP 2021</p>
              <p class="text-center"><%= link_to 'お問い合わせはこちら', inquirys_path, class: "text-dark" %></p>
              <p class="text-center"><%= link_to '管理者はこちら', new_admin_session_path, class: "text-dark" %></p>
            </div>

          </div>
        </div>

      </footer>

    </div>
  </body>
</html>
